[2013-07-16 08:18] yuyang0 opened #1 "This theme has three problems which annoy me"
1. Bracket highlighting is barely visible
2. the background color of auto-complete's popup help is the same with the the background color of the buffer, this is a screenshot: https://www.dropbox.com/s/i7fd0bkphlj3wjf/screenshot.png , see the help string of set-mark...
3. the color of the comment should be lighter...

[2013-07-16 12:33] #1 closed, assigned to nobody

[2013-07-18 01:03] demon386 opened #2 "Color in terminal?"
I use it in Mac and the color is weird under terminal.

![1 __usr_local_bin_emacsclient_-t___playground_temp txt__emacsclient_](https://f.cloud.github.com/assets/1246611/816447/d0bc39b6-ef45-11e2-8dd7-82d7a15e67e6.png)

[2013-08-06 09:46] #2 closed, assigned to oneKelvinSmith

[2013-10-15 15:09] jowl opened #4 "Output colorization doesn't work in rspec-mode"
When running rspec the output isn't colorized and I get the message _Invalid face color_. This behavior was observed on an out-of-the-box emacs (GNU Emacs 24.3.1) with only `rspec-mode` and your theme installed. `rspec-mode` uses `compilation.el` to colorize its output, so I guess other modes are affected as well.

[2013-10-22 23:20] milkypostman opened #5 "We should consolidate repos."
There are two different versions of this theme on you github and it appears that you made this repo only for MELPA integration but you don't really need to do that. MELPA can pull the theme from whatever repo you want. If there is more than one file then you have to specify it in the recipe but by default, MELPA will only look for `.el` files. So if you want to put the theme in the other repo then

[2013-10-22 23:25] milkypostman opened #6 "Please don't enable rainbow-delimiters in the theme file."
I see that you are trying to get around having an `:eval` in the file variables that enables rainbow mode, but I guess I don't see why a theme file--or any file for that matter--should be enabling rainbow delimiters. That is, I think the user should be responsible for when rainbow delimiters is enabled for them.

I guess I just felt a little taken back when I saw the theme manipulating my `safe-lo

[2013-10-27 08:19] #5 closed, assigned to nobody

[2013-10-27 08:32] #6 closed, assigned to nobody

[2013-10-29 03:57] cipri-tom opened #7 "Line highlighting doesn't work with the theme"
Hi
I have installed the theme through MELPA and I have lost line highlighting. if I don't load the theme, the highlighting works. I am pretty sure there's something that I am missing. Could you please direct me in how to set-up line highlighting? here is the relevant snippet:

[code]

[2013-11-17 16:36] #7 closed, assigned to nobody

[2013-12-16 13:42] atomd-zz opened #8 "Can't not work with fill-column-indicator"
Debugger entered--Lisp error: (void-variable monokai-bg-1)
  eval(monokai-bg-1)
  custom-theme-recalc-variable(fci-rule-color)
  enable-theme(monokai)
  load-theme(monokai t)
  eval-buffer(#<buffer  *load*-657433> nil "/home/a/.emacs.d/core/ui.el" nil t)  ; Reading at buffer position 1221
  load-with-code-conversion("/home/a/.emacs.d/core/ui.el" "/home/a/.emacs.d/core/ui.el" nil t)
  require(ui)

[2014-01-09 19:55] #4 closed, assigned to nobody

[2014-01-10 04:55] nhessler opened #10 "load-theme: Invalid theme name `'"
I'm able to load the theme via (require 'monokai-theme) if I put the repo in my prelude/vendor folder, but if I install the package from melba  I get an error on load stating: Invalid theme name `'

[2014-02-27 08:44] #10 closed, assigned to nobody

[2014-02-27 08:44] #8 closed, assigned to nobody

[2014-03-15 18:25] drot opened #13 "Ace Jump face foreground"
Thank you for this wonderful color theme! The only minor annoyance I have to report is that when Ace Jump mode is active it's hard to see the highlighted characters:

[code]

I suggest changing `:foreground ,red` to yellow or something more easily distinguishable.

[2014-03-25 18:32] purcell opened #15 "Wanted to point out a couple of issues"
While reviewing a MELPA submission I was pointing an author at this theme as an example of how to do things. But along the way, I noticed a couple of odd things in the code which I wanted to point out.

Firstly, the theme shouldn't be defining functions with non-namespace-prefixed names like `in-terminal`.

But relatedly, I question the need for that function: there is already a mechanism for rend

[2014-05-02 00:34] mcandre opened #16 "monokai theme seems to slow down Emacs launch slightly"
For some reason, enabling the monokai color theme as opposed to the default Emacs theme, appears to slow down my Emacs launch by a half second or so.

https://github.com/mcandre/dotfiles/blob/master/.emacs#L199-L202

Any idea why this would be?

[2014-07-19 17:57] tuhdo opened #18 "Monokai always deletes face customizations when entering git-commi-mode"
To reproduce:

- Start with bare Emacs (move you ~/.emacs.d elsewhere).
- Install `monokai-theme`
- Install `magit`.
- Load monokai:
[code]
- `M-x customize-theme` and untick monokai. Emacs returns to its original theme.
- Commit something. A buffer with `git-commit-mode` pops up, and instead of keeping the current theme, Emacs returns to `monokai` theme.

`monokai-theme` is just an example. It ha

[2014-07-22 09:33] the-kenny opened #19 "Provide release-tags for MELPA-Stable"
I don't want to pull in all the dev-releases from MELPA. There's melpa-stable which only contains packages with tagged releases providing a nice middle-ground between always-up-to-date and stable tested releases.

[2014-08-08 08:16] mgsergio opened #20 "Can't load monokai-theme intalled from melpa"
[code]

This just doesn't work. (
Emacs sais:

But when loaded manually it works fine.

[2014-08-11 09:30] #20 closed, assigned to nobody

[2014-10-02 06:35] kopoli opened #24 "Emacs version checking is backwards"
The check:

(unless (>= 24 emacs-major-version)
  (error "The monokai theme requires Emacs 24 or later!"))

has either the arguments for >= backwards or the error message should be ".. Emacs 24 or earlier!".

The emacs-trunk (at least the version of today) appears to have changed the value of emacs-major-version to 25 and now monokai-theme errors out with the aforementioned error message.

[2014-10-03 08:57] #24 closed, assigned to nobody

[2014-11-07 06:51] #13 closed, assigned to nobody

[2014-11-11 10:44] #15 closed, assigned to nobody

[2014-11-11 15:30] xuxiangyang opened #25 "Invalid face weight, terminal-bold"
I do as what you say, but emacs warn me `Invalid face weight, terminal-bold`

[code]

What can I do ? Thx

[2014-11-12 06:35] #25 closed, assigned to nobody

[2014-11-13 15:41] opsound opened #26 "wrong-type-argument listp \,"
I am getting the following error with emacs 24.3 on Win 7 Pro.  Please let me know if you need any more information.  I ran `emacs --debug-init`.

[code]

[2014-11-24 15:32] #26 closed, assigned to nobody

[2014-11-30 13:58] xuehao opened #29 "cannot use monokai in ubuntu terminal"
Prelude can use its theme in terminal. But when I use Emacs with GNU default configuration in terminal($emacs -nw), monokai theme is very ugly. I don't want to use prelude, so I try to fix it, but failed.

![screenshot from 2014-11-30 21 56 36](https://cloud.githubusercontent.com/assets/2335731/5237830/eb739648-78db-11e4-9dd8-1f37c8842289.png)

[2014-12-10 15:07] #29 closed, assigned to nobody

[2015-01-06 12:47] arkhamist opened #30 "Upper case words are slant?"
By upper case words, I mean all the words in the buffer which begin with an upper case letter. When I use this theme, they are all slant, which annoys me a lot. I'm attaching the screenshot of my editor. This is not seen in other themes (the default emacs themes). So, I'm guessing that this is caused by the theme. Is it? If so, can I customize the theme to remove this?

![caps_cyan](https://cloud.

[2015-01-12 12:58] #30 closed

[2015-01-13 15:49] arkhamist commented on #30
Looks much  better. Thanks

[2015-01-15 00:09] romanjoe opened #31 "eval: Invalid function: "#FD5FF0""
Hello, thank you for your work, Kelvin! I really appreciate your approach to provide monokai for emacs, as this is my favorite color theme by now.

My problem is described in the title. I have this error, any time i start emacs. I can't even understand, why a hex color is interpreted as function.
Nevertheless theme is working - colors are displaying, despite this error.

Could please suggest, what

[2015-01-19 07:36] aagaard opened #32 "Red background in org-mode-line-clock-overrun makes it impossible to read the clock"
This is favorite theme for emacs and I really think it presents emacs well.

But it is very hard to read the clock in org-mode, when the clock is overran. The red background and the grey text makes it almost impossible to read for me.

![selection_190](https://cloud.githubusercontent.com/assets/540810/5797211/362b48f6-9fb6-11e4-99e3-7e92004a8ec6.png)

[2015-01-26 18:27] rfinz commented on #31
I can confirm this issue. I'm on 24.4 on Mac OSX Yosemite 10.10.1.

Did some preliminary looking at the code and was similarly unable to determine why that particular hex value is the one causing the error.

[2015-01-30 06:32] thegeorgeous opened #33 "[Feature Request]: keyword arguments the same colour as variables"
The Monokai theme in Sublime Text 3 does it. Is it possible in this one?

[2015-02-23 11:10] legends2k commented on #31
I too ran into this issue, but only when I try to call the function `highlight-changes-mode`, the minibuffer barks back `Invalid function: "#FD5FF0"`.

[2015-05-14 17:02] zane opened #35 "Hard to differentiate `monokai-hl` from `monokai-hl-line`"
The background colors for `monokai-hl` and  `monokai-hl-line` are very close, making it hard to see selections on the current line if you use `transient-mark-mode`.

[2015-06-03 09:56] xuxiangyang opened #37 "splash when I press C-l on long file with 4 panels"
*.rb or *.el files in 4 panels, like this
![image](https://cloud.githubusercontent.com/assets/4926529/7957376/7bfd5bda-0a19-11e5-9aa6-2e347141f95d.png)

when I press C-L quickly，the screen splashes. what can I do to solve this problem? zenburn has this problem, too.

thanks for your help

[2015-06-03 09:58] xuxiangyang commented on #37
here is my emacs [config](https://github.com/xuxiangyang/myconf/blob/master/emacs)

[2015-06-16 04:50] mikedmcfarland opened #38 ""Error face-attribute: Invalid face: t" when using org-html-export"
I'm encoutering the error: `Error face-attribute: Invalid face: t`

When trying to export html in org-mode using: `org-html-export-to-html`.
When I load other themes (at startup) I have no problems.

If I load any theme *after* loading monokai, Same error occurs. The act of loading the theme at any point causes the problem.

I just pulled and used the code from this repo and confirmed the same beh

[2015-07-17 19:24] sunesimonsen commented on #35
It is a very beautiful theme, but I agree with this problem. I think it would be better with a darker background maybe even black and tone down the hl-line color to be just a little visible and make the hl color just a bit darker.

This works better for me, but can of cause be refined:

       (monokai-bg               "#000000")
       (monokai-hl-line          "#141410")
       (monokai-hl

[2015-07-29 15:55] oneKelvinSmith commented on #16
Closing...

[2015-07-29 15:55] #16 closed

[2015-07-29 15:55] oneKelvinSmith commented on #18
Closing...

[2015-07-29 15:55] #18 closed

[2015-07-29 15:56] oneKelvinSmith commented on #19
Closing...

[2015-07-29 15:56] #19 closed

[2015-08-20 20:47] arun-s commented on #31
Here is the fix, a ' is missing infront of (,magenta,violet) so it's not being presented as a list

[code]

[2015-08-20 20:59] oneKelvinSmith commented on #31
Nice 😃

Do you mind making a pull request?

Also, can you direct me to a good resource that explains the ' syntax? I get very confused between it and the back-tick (and when to use it).

p.s. This has made my day.

[2015-10-03 03:24] bkoropoff commented on #38
Looks like monokai sets some broken inherit attributes.  The following snippet will clear them out.

[code]

[2015-10-07 20:21] #31 closed

[2015-10-07 20:25] oneKelvinSmith commented on #32
@aagard Agreed. I'm sorry it took so long. Next time, please open a pull request with the change.

Thank you for the feedback though.

[2015-10-07 20:26] #32 closed

[2015-10-07 20:27] oneKelvinSmith commented on #33
@thegeorgeous, I'm not sure if it's possible. Can you give me an example image?

[2015-10-07 20:29] oneKelvinSmith commented on #35
@zane, @sunesimonsen, I tried to maintain the highlights as I found them, but I agree that this is a problem. I'll give it more contrast.

[2015-10-07 20:32] sunesimonsen commented on #35
That is awesome news. I'm extremely happy with the theme, this is the only
thing that is annoying. Thanks for the great work.

Kind regards
Sune
On Oct 7, 2015 10:29 PM, "Kelvin Smith" <notifications@github.com> wrote:

[2015-10-07 22:29] #35 closed

[2015-10-07 23:58] #38 closed

[2015-10-08 00:01] oneKelvinSmith commented on #38
@bkoropoff, thanks for the heads up. I've removed `:inherit t` wherever it appeared in the theme.
@mikedmcfarland, I'm no expert either. Can you try again?

[2015-10-09 12:29] mikedmcfarland commented on #38
I'll check it out this weekend and let you know.

[2015-10-09 15:42] nloyola opened #39 "No colors in ERC buffers"
I'm using Emacs 24.5.1 on Ubuntu 15.04 and the latest version of this theme. When I start ERC none of the buffers that get created have any colors. I've attached a screen shot.

Is there a way to fix this?

Thanks

![emacs_monokai_erc_no_colors](https://cloud.githubusercontent.com/assets/334607/10398380/f44c8016-6e69-11e5-913c-70cf29666b25.png)

[2015-10-09 15:46] nloyola commented on #39
I just tried loading up ERC with the monokai theme disabled and I get the same results. I'm closing this issue.

[2015-10-09 15:46] #39 closed

[2015-10-09 16:01] oneKelvinSmith commented on #39
Ah thank you.

[2015-10-13 18:10] cslux opened #40 "Color clash in company complete pop-up"
The current selection of the completion candidate in company has a color glitch in it, I can't really describe it. See the attached image what I actually mean :-), thanks for providing such a create theme.

regards,
chris
![monokai-glitch](https://cloud.githubusercontent.com/assets/1712313/10463714/5c481548-71e6-11e5-928c-bb91168fd7e7.png)

[2015-10-14 10:04] #40 closed

[2015-10-27 18:56] arun-s commented on #31
Sorry, I just saw your reply. Looks like you have already checked in the fix.

As for your question, I didn't know either but was able to locate a good explanation in the emacs manual :)
http://www.gnu.org/software/emacs/manual/html_node/elisp/Backquote.html#Backquote

Backquote(`) is the same as ('), except that it allows selective expansion inside the list by way of the ',' marker. Hope this hel

[2015-11-10 10:56] #33 closed

[2015-11-10 10:57] oneKelvinSmith commented on #33
Closing this. Please reopen if you come back to it.

[2015-11-24 06:03] Evidlo opened #42 "Color approximation in terminal"
I don't know if this can be fixed in the theme, but the terminal color approximation is way off for diff highlighting.

* X11 emacs
![orig](http://i.imgur.com/eJsSTAb.png)
* rxvt-256color
![magentaviolet](http://i.imgur.com/moAGgGF.png)

[2015-11-26 16:00] oneKelvinSmith commented on #37
Can you give me more context on how you are running emacs? Like which operating system you're using and if you are running emacs as a gui or in the terminal.

I'm not really sure where to start with this issue. My immediate advice is: Don't press C-L quickly...

[2015-11-26 16:02] oneKelvinSmith commented on #42
Issue #42!

I think this should be fixable. I'll have a look tonight.

[2015-12-10 11:07] #42 closed

[2016-01-11 12:18] kshenoy opened #45 "Use same height for all headings in org-mode"
I tried setting `monokai-use-variable-pitch` to `nil` but the headings in org-mode still have different heights. I use [use-package](https://github.com/jwiegley/use-package) and set the variable like so:

    (use-package monokai-theme
      :config
        (setq monokai-use-variable-pitch nil))

I verified with `describe-variable` that `monokai-use-variable-pitch` was indeed set to `nil`

What am

[2016-03-05 12:19] pengzhendong opened #46 "How to add background color with mmm mode?"
In mmm mode, it will use the default background color.

[2016-03-28 11:28] futurist opened #48 "the default foreground color is too bright"
How to change default foreground color? if it's too bright

Thanks!

[2016-04-17 10:00] oneKelvinSmith commented on #48
Hey @futurist, sorry about the delay.

You can try this in you init file:

[code]

Alternatively, you could customize the face (the styling applied to a part of the text) from within emacs with:
[code]

If you'd like more detail please check out:
[Specific Customization on gnu.org](https://www.gnu.org/software/emacs/manual/html_node/emacs/Specific-Customization.html)
[Set Fonts on Emacs Wiki](http

[2016-04-17 10:00] #48 closed

[2016-04-17 11:41] mineo commented on #45
You need to set `monokai-height-plus-{1,2,3,4}` like so:

[code]

before loading the theme (there's also a [question](https://stackoverflow.com/questions/24992300/how-to-customize-emacs-themes-without-editing-the-theme) on emacs.sx about that, but it doesn't use `use-package`).

[2016-04-17 12:28] oneKelvinSmith commented on #46
Hi @pengzhendong,

I'm sorry that it took me so long to reply.

Can you give me a screenshot / example. I'm looking into it now.

[2016-04-17 12:38] oneKelvinSmith commented on #46
Ok, looks like I/we need to add support for the mmm faces defined here: [mmm-vars.el](https://github.com/purcell/mmm-mode/blob/master/mmm-vars.el)

[2016-04-17 13:24] #46 closed

[2016-04-17 13:26] oneKelvinSmith commented on #45
Thanks @mineo!

@kshenoy does this help?

[2016-04-17 13:30] oneKelvinSmith commented on #37
Ok, I'm still not sure how to recreate/address this. I'm closing the issue for now. @xuxiangyang please reopen if you are still experiencing issues.

[2016-04-17 13:30] #37 closed

[2016-04-17 13:43] pengzhendong commented on #46
OK, thanks for your reply.

[2016-04-30 17:55] moesasji opened #50 "[request] Make code-blocks in org-mode stand out more"
Currently the org code-blocks in monokai by default get displayed as comments, making them hard to see. Even when setting 'org-src-fontify-natively' to true it remains hard to see where the code-blocks are as then they look very similar to the rest of the text. Would it be possible to change the default face used for org-block-* to something that makes them stand out better?

Although it is a ligh

[2016-05-04 10:21] oneKelvinSmith commented on #50
I'll have a look tonight or tomorrow. If leuven does it, we can too :)

[2016-05-05 18:17] oneKelvinSmith commented on #45
Going to close this. Please let me know if it's still a problem.

[2016-05-05 18:17] #45 closed

[2016-05-05 19:16] oneKelvinSmith commented on #50
@moesasji let me know if this works for you.

[2016-05-07 08:51] moesasji commented on #50
Thanks for the quick response. This almost works, but not completely:

1) If I don't use syntax highlighting in the code-blocks the face is indeed org-block and it works as expected.

2) If I set org-src-fontify-natively to true the face becomes org-block-background, so it doesn't work as expected.

The fix that works for me is adding the following code to set the correct face only for the backgro

[2016-05-07 09:50] oneKelvinSmith commented on #50
Ok, I'll put that in today.

Unless you want to make a pull request?

[2016-05-07 12:07] moesasji commented on #50
Please go ahead as the change is pretty obvious.

[2016-05-07 19:09] #50 closed

[2016-05-08 12:29] zilongshanren opened #52 "monokai theme conflicts with ivy package"
For more details, please refer to
https://github.com/abo-abo/swiper/issues/506#issuecomment-217713073

[2016-05-08 21:27] moesasji commented on #52
This to me looks like a typo as ivy-current-match currently has `:background highlight`. This probably should be something like `:background ,monokai-highlight`

btw) the above change gets rid of the error-message when using ivy/swiper, but it looks way too bright to me.

[2016-05-09 00:00] zilongshanren commented on #52
@abo-abo  Thoughts?

[2016-05-09 06:44] xux1217 opened #53 "the error: Invalid face box: :color, "#3D3D3D", :style, unspecified, :line-width, 1"
I like this theme, but when I use the melpa to update the theme to 2.0.0, it reports the error: "set-face-attribute: Invalid face box: :color, "#3D3D3D", :style, unspecified, :line-width, 1".

When I use the git to clone the project, and checkout the 0.2.7 version, it is perfect.

I don't know why, please tell me how to fix it, thanks~

[2016-05-12 12:08] oneKelvinSmith commented on #52
Yeah, this was an error I introduced. Oops.

https://github.com/oneKelvinSmith/monokai-emacs/pull/54 this should have resolved it. Thanks to @abo-abo again.

[2016-05-12 12:08] #52 closed

[2016-05-12 12:09] oneKelvinSmith commented on #53
I'll look into it tonight.

[2016-05-12 20:27] #53 closed

[2016-05-12 20:36] oneKelvinSmith commented on #53
@xux1217 thank you for raising this, I didn't test properly in the terminal and missed the bug :(

Please try the latest version in Melpa, hopefully you have a more pleasant experience.

[2016-05-27 10:32] seagle0128 opened #56 "Invalid font in org-mode"
I am using emacs 25.0.94.2 on Windows with org-mode 8.3.4/8.2.10.
The fonts in org-agenda-structure seem invalid, and the fonts cannot be zoomed in/out correctly.

[2016-05-30 19:19] oneKelvinSmith commented on #56
Hey @seagle0128,

Thanks for opening the issue. It's going to take me some time to get a windows environment set up for testing. Would you be able to give me a screenshot/gif showing the problem?

Thank you.

[2016-05-31 10:08] seagle0128 commented on #56
Thanks for the response.
I attached the screenshots below.
I am using Emacs 25.0.94.2 from https://sourceforge.net/projects/emacsbinw64/files/latest/download?source=files. I zoomed in the fonts (x4). I think it's an incompatibility issue with emacs 25. I remember it doesn't exist before. It may exist on Linux.

Monokai theme:
![capture1](https://cloud.githubusercontent.com/assets/140797/15670807/f

[2016-06-01 09:39] oneKelvinSmith commented on #56
Ok, so I've managed to get emacs 25 on my Mac. This, unfortunately, hasn't helped me reproduce the problem.

Would you mind trying to change these variables to see if it has any effect? Hopefully we can narrow down what is causing the issue.
[code]

[2016-06-02 02:38] seagle0128 commented on #56
Thanks!
I tried but no changes. Same issue :(

[2016-06-02 22:32] joshdekock opened #57 "Byte compilation"
I see you have disabled byte compilation with `;; no-byte-compile: t`
 Is there a particular reason for this? It seems to work fine when compiled.

[2016-06-02 22:34] joshdekock commented on #57
It's on all themes apparently, so I'm guessing it's just convention.

[2016-06-02 22:34] #57 closed

[2016-06-03 10:24] oneKelvinSmith commented on #57
Yeah, a lot of the stuff is (kind of) cargo-culted in. I'd be keen to know why it's included in all themes or why you felt that it might not have been necessary.

Cheers 👍

[2016-06-03 11:45] joshdekock commented on #57
I'm a new emacs user, and coming from other editors even a 1 seconds startup time is quite large (yes, I know about daemon mode, I'm using that until I can find a way to properly speed everything up).

The reason I didn't think it was necessary is because a theme is mostly just setting values (or as far as I can tell by skimming through it), and I didn't think there would be any side effects of by

[2016-06-03 15:04] kshenoy commented on #45
Hi, sorry for the late response. This does exactly what I asked for. Thanks :+1:

[2016-06-07 09:10] seagle0128 commented on #56
I believe it's a bug of Emacs 25.0.94. The issue exists while I use some other themes. If I load the same theme manually again, the issue disappear.

Closed it here. Thanks for your patience!

[2016-06-07 09:28] oneKelvinSmith commented on #56
Thanks for the update.

I was definitely out of my depth on this one. Although installing Emacs 25 has pointed out a few things I'd like to learn more about, so all in all this has been a good experience 👍

[2016-07-16 17:53] diego-alvarez-hs opened #59 "How to overwrite a specific variable used inside the theme"
Sorry, this is more a question I couldn't find an answer on internet :(

Is there any way to overwrite in my config a defined variable in the theme? i.e.:
https://github.com/oneKelvinSmith/monokai-emacs/blob/02c5f5d5a5d3ee93a1daa16117471197817f3bc8/monokai-theme.el#L104

So, when I redefined `(monokai-yellow "red")` all the faces that are using that color are now going to show a "red" color.

woul

[2016-07-25 09:48] oneKelvinSmith commented on #59
Hi @diego-alvarez-hs,

Sorry about taking so long to reply. I was away on holiday.

I think you are correct in that we would need to expose the variables via `defcustom` constructs.

Alternatively you can customize a globally defined face:

[code]

[2016-07-26 12:41] seagle0128 commented on #56
I found a workaround to fix this issue. Load theme twice on Windows as below.
I don't know the reason, but I'd like update here.

`
    (add-hook 'after-init-hook '(lambda () (load-theme 'monokai t)))

    ;; FIX: Invalid font in org-mode on Windows
    (when (and sys/win32p (> emacs-major-version 24))
      (add-hook 'window-setup-hook '(lambda () (load-theme 'monokai t))))
`

[2016-07-27 10:08] oneKelvinSmith commented on #56
Would you like to make a pull request? I'll be happy to merge it in 👍

[2016-07-28 05:59] seagle0128 commented on #56
I checked the codes, and my codes cannot be merged into monokai-theme.el. You just add my codes into your init.el.

[2016-07-29 05:01] diego-alvarez-hs commented on #59
@oneKelvinSmith before starting working with a possible PR are you OK exposing those variables?

I don't want to change specific faces as I'm interested on changing just the primary colors on monokai, as this theme it's doing an excellent job and has a lot of faces customized.

So, with changing just 4 primary colors, this is the result:

![image](https://cloud.githubusercontent.com/assets/1256330

[2016-07-29 08:53] oneKelvinSmith commented on #56
Ok, I'll put something together this weekend.

[2016-07-29 09:08] oneKelvinSmith commented on #59
I'm definitely open to exposing the variables. I'd like to see the PR.

My intuition is that I would (then) want to customize any of the primary or adaptive colours, but I think that starting with the 4 you'd like to change will be great.

[2016-08-04 09:31] #59 closed

[2016-08-04 19:24] oneKelvinSmith commented on #56
Sigh, I totally misunderstood :)

Thank you for updating this thread. I'll add your example code to the readme for people who have the same issue in the future.

I feel very silly now...

[2016-08-14 03:19] lbsx opened #61 "Is it possible to set monokai-highlight similar to monokai-highlight-line?"
Code in emacs without selection:
![monokai_without_selection](https://cloud.githubusercontent.com/assets/441707/17646898/42751330-6210-11e6-8762-c31461268121.png)

Selection in emacs:
![selection_monokai_emacs](https://cloud.githubusercontent.com/assets/441707/17646899/430dda70-6210-11e6-9075-962ba32bee9a.png)

Selection in Sublime:
![selection_sublime](https://cloud.githubusercontent.com/assets/4

[2016-08-14 14:11] oneKelvinSmith commented on #61
@lbsx try the latest version of the theme please. I've updated the colours and extended the number of custom face functions. So people can override the highlight colours if they prefer another:

[code]

This is what I was able to get to:

<img width="278" alt="highlight_emacs" src="https://cloud.githubusercontent.com/assets/1781199/17649597/52340076-6231-11e6-8ace-605e6c510a11.png">

[2016-08-14 15:07] lbsx commented on #61
Thank you. I've tried the latest version and it works fine. But I found that there seems to be a conflict between highlight-symbol and global-hl-line-mode.

I have (global-hl-line-mode t) in my dot emacs and executed highlight-symbol-at-point on monokai-highlight-line.

Cursor not on the same line:
![a](https://cloud.githubusercontent.com/assets/441707/17649900/3a8aa380-6272-11e6-960c-e05bb08fad72

[2016-08-14 20:21] oneKelvinSmith commented on #61
So it looks like `hl-line-mode` uses [overlay properties](https://www.gnu.org/software/emacs/manual/html_node/elisp/Overlay-Properties.html) to apply the line highlight. This will always take precedence over [text properties](https://www.gnu.org/software/emacs/manual/html_node/elisp/Text-Properties.html#Text-Properties) when applying colours.

The faces applied when evaluating `highlight-symbol-at

[2016-08-15 15:42] lbsx commented on #61
I've tried to customize highlight-symbol-foreground-color to a brighter color, but it's not a perfect solution.

And I found [hl-anything-emacs](https://github.com/hl-anything/hl-anything-emacs) works with highlight-symbol. I'll try it.

[2016-08-15 20:53] oneKelvinSmith commented on #61
Ok, that looks cool.

It seems like they specify colours like using these functions:
[code]

I'm not sure if that's something this theme should be responsible for.

[2016-08-16 10:51] lbsx commented on #61
I don't think it's relevant to the theme. I will close the issue.

[2016-08-16 10:51] #61 closed

[2016-08-29 09:31] lbsx opened #62 "Font in org-mode differs from my setting"
I'm using "DejaVu Sans Mono-10" as my font, but it seems it changed after enabling monokai-theme. "Listening to music" in the image is not displayed with a monospaced font. And the line number also looks weird. Others remain what I expect.

![image](https://cloud.githubusercontent.com/assets/441707/18046941/e28bfa98-6e0c-11e6-9889-82b1917d51a1.png)

[2016-08-29 21:39] oneKelvinSmith commented on #62
Hey @lbsx,

Can you try put this in your `init.el`:

[code]

These functions are used to scale the `org-mode` headers.

[2016-08-30 00:30] lbsx commented on #62
I tried that before. The font size is not scaled but the font family remains DejaVu Sans instead of DejaVu Sans Mono. And the line numbers are not aligned.

I found lots of settings about org-mode in monokai-theme, but I don't know how they change the font.

![image](https://cloud.githubusercontent.com/assets/441707/18071752/d09a76c4-6e8a-11e6-829d-7da6f3821b99.png)

[2016-09-02 07:28] oneKelvinSmith commented on #62
Ok, I think it's because of the variable-pitch see: https://github.com/bbatsov/solarized-emacs/issues/87

Please try this:

[code]

[2016-09-02 11:18] lbsx commented on #62
It works. Thanks.

Actually I'm confused by the feature and I don't know in which situation it should to be used.

And I think it looks better if the line numbers of the headings look the same with the default monokai-height-plus-* values.

Could you please close the issue after updating the README or disabling the feature?

[2016-09-02 11:29] oneKelvinSmith commented on #62
Yeah, I'd not realised it forced the use of a fixed width font and I don't use `org-mode` myself so I've not been frustrated by the weird rendering.

I'll disable it and the font resizing by default and document the use of the functions for people who still want the effect.

Thank you for pointing out the issue.

[2016-09-02 11:30] oneKelvinSmith commented on #56
Re-opening this because I think it might be related to https://github.com/oneKelvinSmith/monokai-emacs/issues/62.

[2016-09-04 14:07] seagle0128 commented on #56
Yes, it works.
Before loading the theme:
[code]
But it's curious the issue appears in Emacs 25 on Windows, and it disappears if loading theme again.

[2016-09-14 03:23] jjackaman opened #64 "background color displays differently in terminal"
Can the background color (monokai-bg "#272822") be made to work in the terminal too?

In iterm2 emacs displays the background color as #1c1c1c.

[2016-09-16 13:07] oneKelvinSmith commented on #64
Hey @jjackaman. I'm not sure if things have changed since [this issue](https://github.com/oneKelvinSmith/monokai-emacs/issues/2) but when I tried using true colours for the terminal client, the background came out green.

[2016-11-15 14:40] oneKelvinSmith commented on #64
Closing until it resurfaces.

[2016-11-15 14:40] #64 closed

[2016-11-15 22:59] oneKelvinSmith commented on #62
This should be fixed with fe409de.

Thanks again :)

[2016-11-15 22:59] #62 closed

[2016-11-15 22:59] oneKelvinSmith commented on #56
This should be fixed with fe409de.

Thanks again for updating 👍

[2016-11-15 22:59] #56 closed

[2016-12-04 01:01] braham-snyder opened #66 "highlight-update branch (evil-search-highlight-persist)?"
I'm just wondering why you're holding off on merging the highlight-update branch into master--so far, the only trouble I've encountered is that `evil-search-highlight-persist-highlight-face` is the same color as `hl-line`. While not perfect, is that not preferable to master (where `evil-search-highlight-persist-highlight-face`--the same color as comments--obscures matched comment text)?

Or is it

[2016-12-04 12:59] oneKelvinSmith commented on #66
I've just been distracted by my day job :)

The lastest release should sort these issues out. Thanks for the reminder.

[2016-12-04 16:52] braham-snyder commented on #66
Awesome--thanks!

[2016-12-04 16:53] #66 closed

[2016-12-06 08:16] agroschim opened #67 "Org code blocks"
Since you changed the value of `monokai-gray` to a much lighter color in commit 65970ea4a15891962784701c75c391c19023a559 org code blocks especially with enabled syntax highlighting became unreadable, might I suggest changing the value of `org-block-background` from `monokai-gray` to `monokai-highlight-alt`?

[2016-12-06 21:37] oneKelvinSmith commented on #67
Hi @agroschim Please have a look at the latest version and let me know if this works for you. I found it difficult to notice the  difference, but I was working in a dark room.

[2016-12-07 12:32] agroschim commented on #67
Works fine for me now. Thank you.

I should have added that I am using native syntax highlighting in code blocks.

[2016-12-07 14:19] oneKelvinSmith commented on #67
Cool 👍

[2016-12-07 14:19] #67 closed

[2016-12-15 08:58] fap- opened #68 "Markup Faces / adoc-mode - Some text barely readable"
Hey there, love your theme.

I'm having issues with asciidoc files in adoc-mode.
Most faces come from the `Markup Faces` group but there is also an adoc customize group.

As you can see on the screenshot (right side), some of the text is really hard to read (grey on grey):
![emacs_monokai_adoc](https://cloud.githubusercontent.com/assets/459631/21217535/eec1a214-c2ac-11e6-96b8-49ac131915ce.png)

[2016-12-15 11:47] #68 closed

[2016-12-15 12:01] fap- commented on #68
@oneKelvinSmith Thank you for your quick merge.

[2016-12-28 23:30] facundoolano opened #71 "use with powerline"
Hi! I just started to use prelude with this theme, and I've been trying to add powerline as well. I tried powerline, spaceline and smart-mode-line-powerline-theme, but none of them look good. For example, with powerline:

<img width="473" alt="screen shot 2016-12-23 at 3 12 40 pm" src="https://cloud.githubusercontent.com/assets/1040941/21533630/4e9714a6-cd3b-11e6-9407-e1e80db260e9.png">

Is there

[2016-12-30 13:21] oneKelvinSmith commented on #71
This is an issue with how emacs renders the powerline separators (see https://github.com/milkypostman/powerline/issues/99). The separators are not rendered with `srgb` colours.

One possible solution is to tell emacs not to use `srgb` colours:

[code]

I don't like this because it looks washed out.

What I do is use a ligatured font like https://github.com/tonsky/FiraCode and tell powerline to use

[2016-12-30 19:17] facundoolano commented on #71
Ok, you pointed me in the right direction, thanks! I didn't like the srgb fix either, but found that installing another version of emacs for mac does the trick.

[2016-12-30 19:17] #71 closed

[2017-05-06 19:29] codesoverhill opened #72 "Current 'Search' highlight is lighter over a light background."
Thanks for the wonderful colorscheme.

![screenshot_2017-05-07_00-34-13](https://cloud.githubusercontent.com/assets/28491132/25775215/0d51cc28-32be-11e7-9db6-b4b407e092af.png)

Am not sure if this is an issue with the theme but search string foreground is mostly light colour over light background. Is this theme configuration? And can I modify it in my init.el?

Am new to emacs and my init.el is mi

[2017-05-07 05:31] seagle0128 opened #73 "Underline style"
Actually it's not a issue but a question or requirement.

I am wondering if I can set underline style to `wave` while not `line`. For example, `flycheck-error` and `flycheck-warning`. in other editors or IDEs, the errors or warnings are showed by `wave` underlines. I'd like the same views for that. I saw you changed this in https://github.com/oneKelvinSmith/monokai-emacs/commit/4ccd0c14b26bd60dab6

[2017-05-09 17:26] seagle0128 opened #74 "Optimize linum/nlinum faces in monokai-theme"
Hi, I found this solution to optimize linum/nlinum faces in monokai-theme, but I have no idea how to create a PR for the theme. Please refer to the snippet and let me know your opinion. Thanks!

[code]

[2017-05-12 14:48] #73 closed

[2017-05-16 22:07] oneKelvinSmith commented on #72
Heya @codesoverhill , thanks for the question :)

the isearch face inherits the foreground colours because it inherits from region. Region inherits the syntax highlighting when selecting text because I prefer to maintain it. I'll try out disabling that just for isearch matches (I think it might make sense with the brighter colours).

In the mean time you could try add something like this to your c

[2017-05-16 22:08] oneKelvinSmith commented on #74
I'll have a look. Thank you.

[2017-05-17 14:41] codesoverhill commented on #72
@oneKelvinSmith, thank you. The suggestion worked fine.

[2017-05-17 14:41] #72 closed

[2017-06-30 04:15] seagle0128 opened #75 "Screenshots"
Suggest to add screenshots so that more people would like to try.

[2017-06-30 04:19] seagle0128 commented on #74
After some research, I think it may need to handle this issue in Emacs.

[2017-07-05 18:12] voger opened #77 "Spacemacs. Recent update broke monokai-emacs"
I did a packages update today in my spacemacs installation and now I get this error message in my \*Messages\* buffer

`(Spacemacs) Warning: An error occurred while applying the theme "monokai", fallback on theme "spacemacs-dark".
Error was: (invalid-function ((, monokai-256-class) (:foreground (, monokai-256-yellow) :weight bold)))`

I don't know if this is monokai-emacs issue or a Spacemacs issu

[2017-07-05 18:53] #77 closed

[2017-07-05 18:53] oneKelvinSmith commented on #77
Oh dear.

[2017-07-05 18:55] oneKelvinSmith commented on #74
This fell off my plate. Is there something I need to look into?

[2017-07-05 18:55] oneKelvinSmith commented on #75
Will do. Probably tomorrow.

[2017-07-06 06:17] #74 closed

[2017-07-15 07:40] seagle0128 opened #78 "Tooltip colors"
I suggest to change tooltip background from green to yellow. Green is ugly for the tooltip especially using company-quickhelp to show help.

[code]
I can make a PR if you are fine.

[2017-07-18 15:02] oneKelvinSmith commented on #78
I'm happy for you to make a PR 👍

[2017-07-19 15:27] seagle0128 commented on #78
@oneKelvinSmith  Please merge PR #80 as well. I forgot to change pos-tip colors. it should be same as tooltip colors. Thanks!

[2017-07-20 14:34] #78 closed

[2017-10-13 13:22] oneKelvinSmith commented on #75
I've added a couple of images. :)

[2017-10-13 13:22] #75 closed

[2017-11-22 15:50] brycefrank opened #87 "Light Variant"
Any interest in making a  [light variant](https://atom.io/themes/monokai-light)?

[2017-12-29 17:22] avigan opened #88 "Differentiate color for font-lock-doc-face and font-lock-comment-face"
Could you please create a different color name for `font-lock-doc-face` and `font-lock-comment-face`? This would be very useful when for editing languages like python.

[2018-01-03 16:54] oneKelvinSmith commented on #88
Ok, I've changed it to yellow (the same colour as strings). This seems the most reasonable change to me.

![comment_vs_doc](https://user-images.githubusercontent.com/1781199/34530241-6c255502-f0a6-11e7-97d9-e347c6debe97.png)

[2018-01-03 16:58] oneKelvinSmith commented on #87
Maybe. I'm not keen on finding comparable hex codes for terminals that don't support Truecolor. I might wait for Emacs 26 to become mainstream ¯\_(ツ)_/¯

[2018-01-04 09:08] avigan commented on #88
Thanks a lot!

[2018-01-04 09:08] #88 closed

[2018-03-14 06:31] demonchild2112 opened #92 "Please add a licence."

[2018-03-14 09:35] sdwolfz commented on #92
The license is present inside the main file:

https://github.com/oneKelvinSmith/monokai-emacs/blob/5a3fa999f4f1ab2eeabf13a78d26eba7c1716051/monokai-theme.el#L3-L20

[2018-03-14 12:06] oneKelvinSmith commented on #92
Ok, I've added a `LICENSE.md` file because it's cool and you can search for it with github: https://help.github.com/articles/licensing-a-repository/#searching-github-by-license-type.

[2018-03-14 12:06] #92 closed

[2018-03-17 18:46] jlagneau opened #93 "Minibuffer / Echo area background color"
Is it possible to edit the background color of the area below the mode-line? I'm looking at the source code but I can't see anything relevant. My aim is to make it the same color of my mode-line (on which I removed the borders). Any pointer would be greatly appreciated.

[2018-03-20 10:03] oneKelvinSmith commented on #93
Can you provide an annotated picture of what you mean? It might make it easier for me.

[2018-03-20 11:47] oneKelvinSmith commented on #93
I think you might be referring to the [echo area](https://www.emacswiki.org/emacs/EchoArea). Looks like you can change the face (color and text) with:
[code]

Or
[code]

Or some variation of the above. I haven't tested this though.

[2018-03-22 15:49] jlagneau commented on #93
Hello and thanks a lot for your quick reply.

I'm talking about the mini-buffer & the echo area, both of them overlap in the same area depending on the situation (in red on the screenshot).

![minibuffer](https://user-images.githubusercontent.com/7811277/37779200-223ba12a-2dec-11e8-8360-27b0e984c4b4.png)
I have attempted several things in my scratch buffer to try things out but I couldn't find any

[2018-03-22 17:04] oneKelvinSmith commented on #93
Ooh Doom looks like a cool collection. I'll have a look later and see if I can get this figured out.

[2018-03-22 17:04] #93 closed

[2018-03-28 23:35] shackra opened #94 "error: (void-function unspecified)"
Yesterday I switched to Monokai theme.

For some reason, weechat and Monokai are not working together as they should.

[code]

[Here is the variable defined in weechat package](https://github.com/the-kenny/weechat.el/blob/a0d81074088d313dd596af6602e51d4253a55ca5/weechat-color.el#L107).

[2018-03-30 10:33] oneKelvinSmith commented on #94
Hiya, thank you for reporting this.

Can you try using [this branch](https://github.com/oneKelvinSmith/monokai-emacs/tree/weechat) and let me know if that works?

[2018-03-30 19:16] jlagneau commented on #93
Just to let you know @oneKelvinSmith (and if some other people search for it), I finally found out how this was done in doom emacs: [solaire-mode](https://github.com/hlissner/emacs-solaire-mode) (from the same author as doom and doom themes. After a few tests, I customized the solaire's face and a couple of other things and I got what I wanted:

![screenshot_20180330_211010](https://user-images.gi

[2018-04-01 18:55] shackra commented on #94
Hello,

That branch fixes the issue for me.

Kelvin Smith <notifications@github.com> writes:

[2018-04-02 09:25] oneKelvinSmith commented on #94
Cool, I've moved the fix into `master` and published a new release. 👍

[2018-04-02 09:25] #94 closed

[2018-07-24 14:27] melmasri opened #96 "Comments are too dark"
I have been using Monokia for few years now, the only problem I find with it that the comments are too dark, specially in org-mode. It is hard to read them when in front of the PC for long hours.

Just my 2 cents.

[2018-08-16 20:41] hjpotter92 opened #97 "emacsclient with monokai theme is just ugly (green background)"
Quite similar to #2 and #64. I've tried several different terminals and modes (inside/outside of multiplexer like `tmux`/`screen`). If I create a new `-nw` (no-window) emacs inside shell, sometimes the older one gets bluish background, and sometimes it goes black.

See the screenshots below:

All 3 of them are green (top-left to right):
 * tmux inside Terminator
 * urxvt
 * uxterm

![2018-08-17_02

[2018-09-26 09:48] sidnt opened #98 "Inverted Variant"
When interleaving a work session between emacs, dark themed say, with monokai and say a light themed app, say following along a pdf, the frequent switches between dark and light themes, break the zen. It'd be great to have an inverted variant of monokai, such that when it is loaded with the color theme inverted systemwide, (as a quickfix for dark themed pdf reading/web browsing etc) monokai-invert

[2018-09-26 09:53] #98 closed

[2018-12-26 03:52] lemon0910 commented on #97
terminal emacs is not beautiful like gui emacs too

[2018-12-26 04:43] hjpotter92 commented on #97
but that's not the case when I disable monokai theme, and use the default one.

[2018-12-26 10:12] sdwolfz commented on #97
@hjpotter92 maybe this guide will help you set up your terminal colors: https://github.com/syl20bnr/spacemacs/wiki/Terminal

[2019-01-04 13:41] hjpotter92 commented on #97
@sdwolfz yup, been working with it for a week now. That does indeed work.

Closing this issue.

[2019-01-04 13:41] #97 closed

[2019-12-01 04:36] ryanpeach opened #100 "The GUI version for some reason is a different color than the Terminal Version"
https://imgur.com/a/1FJZF25

I'm struggling with finding a reason that my monokai theme looks different on this computer when in GUI mode vs Terminal. Any suggestions?

This is my `.emacs.d`:

https://github.com/ryanpeach/spacelite

This is the most relevant file:

https://github.com/ryanpeach/spacelite/blob/master/core/core-makeup.el

All of my installed packages:

[code]

I'm using nixos and xmo

[2019-12-09 10:35] oneKelvinSmith commented on #100
Hi @ryanpeach,

I think the underlying issue is that emacs in the terminal is not using "TrueColor" (https://www.gnu.org/software/emacs/manual/html_mono/efaq.html#Colors-on-a-TTY).

It looks to me that the GUI colours you're seeing are more in line with the desired theme colours, while the terminal colours are the 256 approximation.

Unfortunately, I'm not familiar with NixOS but the 256/TrueColor

[2019-12-09 10:36] #96 closed

[2020-04-12 14:41] s-surineni commented on #45
Awesome. It would have been better if there was a switch to turn this on and off

[2020-04-13 08:50] x-ji opened #102 "Seems that in web mode the brackets <> now have the same color as the background"
I'm not sure if there's something wrong with my configuration. Apparently, if I edit an HTML file, the brackets `<` and `>` have the exact same color as the background... and therefore blend into it and become invisible.

A screenshot of what I mean:
![Screenshot 2020-04-13 10 50 18](https://user-images.githubusercontent.com/2999209/79107415-9ce2a980-7d74-11ea-906b-38cbdd1319c0.png)

I don't think

[2020-04-16 20:03] #102 closed

[2020-09-16 03:04] ianpan870102 opened #104 "Diff-hl foreground border issue"
The current face for diff-hl foreground and background result in a thin border being drawn around the git gutter. I have tried to **mimic the appearance of Sublime Text** and came up with the following tweak:

[code]

Which produces the **following result** (notice the git gutter style on the left fringe):

![image](https://user-images.githubusercontent.com/36686900/93287462-3292d100-f80c-11ea-9c4

[2020-09-16 12:11] sdwolfz commented on #104
Could you please share an image of how this looks in Sublime?

[2020-09-16 15:10] ianpan870102 commented on #104
Sure, here you go:

![image](https://user-images.githubusercontent.com/36686900/93356478-c8ad1280-f871-11ea-8a53-18ea125aaac9.png)

[2020-09-18 10:25] oneKelvinSmith commented on #104
This looks good to me. You're welcome to make a PR 👍🏽

[2020-09-18 12:47] ianpan870102 commented on #104
PR created, ready for review!

[2020-09-24 10:50] sdwolfz commented on #104
Since the PR was merged, issue can be closed, right?

[2020-09-24 13:13] ianpan870102 commented on #104
Yup, closing issue.

[2020-09-24 13:13] #104 closed

[2021-08-12 14:23] cclamb opened #109 "Mode line config?"
Hey! I'm new to emacs and really like this theme. Thing is, in the terminal version, the mode line doesn't seem to be what I see in the screenshots. Do I have something configured incorrectly? Installed from Mepla. Thanks!

[2022-01-17 12:49] oneKelvinSmith commented on #109
Hi @cclamb, I'm not sure exactly where the difference will come from. The screenshots were taken quite a while ago and emacs has evolved and been updated since then. I haven't been using emacs for my day to day editor for a similar amount of time.

I'll try spend some time getting everything set up again and see what things look like with the latest versions.

What is your environment (Mac/Windows

[2022-01-17 12:51] oneKelvinSmith commented on #100
Closing because it's been a while and this issue isn't something I'm equipped to resolve.

[2022-01-17 12:51] #100 closed

[2022-01-26 18:05] brian-schwedock opened #111 "Variable customization doesn't work in terminal"
Trying to customize a variable takes effect in windowed mode, but not in terminal (no-window) mode.

For example,
[code]

The variable value correctly updates with `setq`, but the background color does not change.

I'm using emacs 27.1 and monokai-theme 20220117.1244 from MELPA.

[2022-01-27 17:38] Krasauskas commented on #111
I had the same issue when running emacs in both Alacritty and tmux. It went away after I had explicitly set the TERM variable in alacritty.yml. Not sure that's helpful to you, but try playing around with it.

[2022-01-28 01:53] brian-schwedock commented on #111
I do use tmux, but the issue exists just using the default terminal in Ubuntu (and with tmux too). I set `TERM=xterm-256color` in my bashrc, but removing it doesn't fix the issue either.

[2022-01-28 12:26] Krasauskas commented on #111
I got it working!
I'm not setting any `TERM` value in `~/.config/alacritty/alacritty.yml` and letting it default to `alacritty`.

Adding the following to `~/.tmux.conf` is what made it work for me:

[code]

[2022-06-16 10:37] rjekker opened #112 "Suggested improvement: change color for org-link and org-table"
In the default setup org-link and org-table are set to blue and green, respectively. These colors are also used for org headers and I find that, in documents with lots of links or tables, this makes it harder to see the structure of the document. Sometimes I cannot easily find the next header because it is visually the same as the lines with links, or tables.

I've now set the org-link foreground